@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

a {
  text-decoration: none;
}
@font-face {
  font-family: 'Satoshi300';
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi500';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi700';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700 !important;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi900';
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900 !important;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

/* accordian height  */
.css-18x5eyn-MuiAccordionSummary-content {
  margin: 0px !important;
}

.css-3zhm1l-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: unset !important;
}

.css-1d5prwk-MuiButtonBase-root-MuiListItemButton-root {
  padding: 4px 8px 4px 0 !important;
}

.css-64lat8-MuiPaper-root {
  box-shadow: 0 4px 12px rgba(26, 32, 44, 0.1) !important;
}

.css-1qltlow-MuiTabs-indicator {
  display: none;
}
.css-19kzrtu {
  padding: 0px !important;
}

.css-1ozpxjl-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: unset !important;
}

/* class for tab font weight */
.css-1usuzwp-MuiButtonBase-root-MuiTab-root {
  font-weight: unset !important;
}

/* overflow in dashbord fixed here */
.css-12botxm {
  overflow: visible !important;
  /* the calander styles */
}
.mini-framer-calendar_wrap___pkdM {
  padding: 8px !important;
}

.rdp-day_button {
  font-size: 14px !important;
}
.rdp-weekday {
  font-size: 14px !important;
}
.rdp-day_button {
  height: 28px !important;
  width: 32.57px !important;
}

.rdp-weekday {
  height: 28px !important;
  width: 32.57px !important;
}

.rdp-week > *:not(:last-child) {
  /* margin-right: 4px !important; */
}

.rdp-selected .rdp-day_button {
  border: none !important;
}
.mini-framer-calendar_calendar__IHP9r .rdp-day {
  border-radius: 50% !important;
}
.rdp-week {
  display: flex !important;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 4px;
}
.rdp-weekdays {
  display: flex !important;
  justify-content: space-between;
  gap: 4px;
  margin-bottom: 4px;
}
.rdp-month_caption {
  padding: 8px;
}

/* icon color   */
.rdp-chevron {
  fill: #000 !important;
}

.MuiMultiSectionDigitalClock-root {
  max-height: 220px !important;
  overflow-y: auto !important;
  scroll-behavior: smooth;
}

.MuiMultiSectionDigitalClockSection-item {
  font-size: 16px !important;
  padding: 6px 0 !important;
}

.MuiMultiSectionDigitalClock-root::-webkit-scrollbar {
  width: 6px;
}

.MuiMultiSectionDigitalClock-root::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

/* .rbc-btn-group {
  position: absolute;
  left: 0px;
}

@media screen and (max-width: 600px) {
  .rbc-toolbar-label {
    width: 100%;
    text-align: right !important;
  }
} */
.rbc-toolbar {
  /* display: flex; */
  flex-direction: row-reverse !important;
  justify-content: space-between;
}
.rbc-btn-group {
  display: flex !important;
}
.rbc-btn-group :nth-child(1) {
  order: 2;
  border-radius: 8px !important;
}
.rbc-btn-group :nth-child(2) {
  order: 1;
  border-radius: 8px !important;
  border-bottom-right-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.rbc-btn-group :nth-child(3) {
  order: 3;
}

.rbc-toolbar-label {
  text-align: left !important;
}
