@font-face {
  font-family: 'Satoshi300';
  src: url('/fonts/Satoshi-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi500';
  src: url('/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi700';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: 700 !important;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi900';
  src: url('/fonts/Satoshi-Black.otf') format('opentype');
  font-weight: 900 !important;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Satoshi', sans-serif !important;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  /* overflow-y: scroll; */
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none; */
  /* overflow-y: auto; allow scrolling */
}

a {
  color: inherit;
  text-decoration: none;
}
.css-1toxriw-MuiList-root-MuiMenu-list {
  padding: 0 !important;
}

/* accordian height  */
.css-18x5eyn-MuiAccordionSummary-content {
  margin: 0px !important;
}

.css-3zhm1l-MuiButtonBase-root-MuiAccordionSummary-root {
  min-height: unset !important;
}

.css-1d5prwk-MuiButtonBase-root-MuiListItemButton-root {
  padding: 4px 8px 4px 0 !important;
}

.css-64lat8-MuiPaper-root {
  box-shadow: 0 4px 12px rgba(26, 32, 44, 0.1) !important;
}

.css-1qltlow-MuiTabs-indicator {
  display: none;
}
.css-19kzrtu {
  padding: 0px !important;
}
